<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RallyToolsCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RallyToolsCore.Properties.Settings>
            <setting name="SourceSafe" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSvnLogUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="NextBuildUrlTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="RallyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="RallyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RallyQuery" serializeAs="String">
                <value />
            </setting>
            <setting name="MutedVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="DailyReportTemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReviewRequestTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="IterationFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="HideDefectSubtasks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeMarker" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HideNoiseTasks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoiseTaskRegex" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateManifestUrl" serializeAs="String">
                <value>http://azarkevich.github.io/TortoiseRally/update/manifest.xml</value>
            </setting>
            <setting name="BuildsBoardUri" serializeAs="String">
                <value />
            </setting>
            <setting name="EnablePostCommitTools" serializeAs="String">
                <value>False</value>
            </setting>
        </RallyToolsCore.Properties.Settings>
    </userSettings>
</configuration>